
@{
    ViewData["Title"] = "ForgotPassword";
}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card shadow-lg p-4" style="background-color: #1c1c1e; color: #fff; max-width: 400px; width: 100%; border-radius: 10px;">
        <div class="text-center">
            <h3 class="mb-4">Şifremi Unuttum</h3>
        </div>
        <form asp-action="ForgotPassword" method="post">

            <div class="form-group">
                <label for="Email">Mail Adresin</label>
                <input name="Email" type="email" class="form-control" />
            </div>
            <br />
            <button type="submit" class="btn btn-primary btn-block">Gönder</button>

        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

